body {
    background-color: #f0f0f0;
}
body div.login-div{
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px;
    display: inline-block;
}

.login-div input {
    display: block;
    margin-bottom: 7px;
}


.login-div input[type="email"]{
    border: solid 1px blue;
    background-color: lightgoldenrodyellow;
   
}
input[class$="red"]{
    border: solid 1px red;
    background-color: lightgoldenrodyellow;
   
}
input[class*="control"]{
    display: block;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
}
.login-div input:focus{
    box-shadow: 2px 2px 3px #c0c0c0c0;
    border: none;
}

ul li:last-child {
    font-family: Arial, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
ul li:first-child {
    text-decoration:dotted;
    color:red;
}
ul li:nth-child(2) {
    text-decoration: overline;
    color: blue;
    
}

